body {
  background-color: #FFDDAA; 
}

#homepage-title{
  text-align: center; 
  font-family: 'Oleo Script Swash Caps', cursive;
}

#button-container{
  text-align: center; 
}

#neighborhood-button{
  width:300px;
}

#neighborhood-list {
  text-align: center;
  display: none;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.photo {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}