html { 
  height: 100% 
}
body { 
  height: 100%; 
  margin: 0; 
  padding: 0 
}

#tour-header{
  text-align: center; 
}

#tour-container{
  height: 100% 
}

#map-canvas{
  display: inline-block;
  height: 100%; 
  width: 60%;
}

#places{
  vertical-align: top; 
  display: inline-block;
}


label {
  float:left;
  width: 100px;
}

form input {
    width: 175px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}

#start {
}

#destination {
 
}

.waypoints{
  width: 320px;
}

.waypoints-header{
  width: 320px;
}

.waypoints-body{
  width: 320px;
}

.pipe{
  color: white; 
}

#tour-longitude{  
}

#tour-latitude{
}
