html { 
  height: 100% 
}
body { 
  height: 100%; 
  margin: 0; 
  padding: 0 
}

#tour-header{
  text-align: center; 
}

#tour-container{
  height: 100% 
}

#map-canvas{
  display: inline-block;
  height: 100%; 
  width: 60%;
}

#places{
  
}


label {
  float:left;
  width: 120px;
}

form input {
    width: 175px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}

#start {
}

#destination {
 
}

#waypoints{
  width: 320px;
}

.waypoints-header{
  width: 320px;
}

.waypoints-body{
  width: 320px;
}

.address{
  color:gray;
  font-size: 12px;
}

.longitude{
  color: white;
  font-size: 1px;
}

.latitude{
  color: white;
  font-size: 1px;
}

.pipe{
  color: white;
  font-size: 1px; 
}

#tour-longitude{  
  color: white;
  font-size: 1px;
}

#tour-latitude{
  color:white;
  font-size: 1px;
}

#directions-panel{
  float:left;
  height:100%;   
}

#tabs{
  vertical-align: top; 
  display: inline-block;
  width: 380px;
}

.ui-tooltip {
  padding: 10px 20px;
  color: black;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}