<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDdJo8X89HOtRG2Hd2xE8jFs-gpSqZM78&sensor=true">
  </script>
  <title>MagicalHistoryApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
